.container_home {
  width: 100%;
  height: 100vh;
  position: relative;

  .header {
    width: 100%;
    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.487), rgba(0, 0, 0, 0.474)),
      url("./assets/image_ac/acceuil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .container_header {
      width: 100%;
      height: calc(100% - 100px);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

      .title_heure {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        p:nth-child(1) {
          width: 60%;
          font-size: 25px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 25px;
        }

        p:nth-child(2) {
          font-size: 18px;
          font-weight: 300;
          text-align: center;
          margin-bottom: 25px;
        }

        button {
          color: white;
          border-radius: 25px;
          background-color: #d2733b;
          padding: 10px 50px;
        }
      }
    }
  }

  .container_service {
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title_service {
      p:nth-child(1) {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 25px;
      }

      p:nth-child(2) {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 25px;
      }
    }

    .container2_service {
      width: 100%;
      display: flex;
      flex-direction: column;

      .services {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          margin-bottom: 10px;
        }

        .description {
          margin-bottom: 25px;
          margin-top: 25px;
          padding: 0 25px;
          text-align: justify;
        }
      }
    }

    a {
      color: white;
      border-radius: 25px;
      background-color: #d2733b;
      padding: 10px 50px;
      margin-top: 25px;
    }
  }

  .container_ville {
    width: 100%;
    padding: 25px 25px;
    margin-top: 25px;
    background-color: #2351a2;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .title {
      margin-bottom: 25px;
      font-weight: 800;
    }

    .description {
      text-align: justify;
      margin-bottom: 25px;
    }

    button {
      color: rgb(0, 0, 0);
      border-radius: 25px;
      background-color: #ffffff;
      padding: 10px 50px;
      margin-top: 25px;
    }
  }

  .container_galerie {
    width: 100%;
    padding: 25px 0;

    .container_slider {
      height: calc(100% - 100px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p:nth-child(1) {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 25px;
      }

      p:nth-child(2) {
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        margin-bottom: 25px;
        padding: 0 25px;
      }
    }

    a {
      color: white;
      border-radius: 25px;
      background-color: #d2733b;
      padding: 10px 50px;
      margin-top: 25px;
    }
  }
}

@media screen and (min-width: 700px) {
  .container_service {
    .rowContainer {
      width: 100%;
      display: flex;
      flex-direction: row !important;
      justify-content: space-evenly;
      .services {
        width: 350px;
        margin: 0 15px;
      }

      button {
        margin-top: 0;
      }
    }
  }
}
